:root{
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Very-dark-blue-bg: hsl(240, 100%, 5%);
  --Soft-white: hsl(36, 100%, 99%);
  --contrast-level: 1;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  background-color: var(--Off-white);
  font-family: "Inter", sans-serif;
  color: var(--Very-dark-blue);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}